@page
@using North.Aids
@using North.Data.Event
@using North.Data.EventList
@using North.Data.Sportsman
@using North.Pages.Extensions
@model North.Soft.Areas.Event.Pages.Events.DetailsModel

@{
    Layout = "_Details";

    const string sportsmen = "/SportsmanEvent/SportsmanEvents";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.SportCategoryId)
    @Html.DisplayControlsFor(model => model.Item.TypeId)
    @Html.DisplayControlsFor(model => model.Item.OrganizationId)
    @Html.DisplayControlsFor(model => model.Item.EventListId)
    @Html.DisplayControlsFor(model => model.Item.Id)
    @Html.DisplayControlsFor(model => model.Item.Name)
    @Html.DisplayControlsFor(model => model.Item.SportCategoryId)
    @Html.DisplayControlsFor(model => model.Item.Definition)
</body>
@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Registreeru!",
        $"{sportsmen}/Create?fixedFilter=&fixedValue="))
}