@page
@using North.Aids
@using North.Data.EventList
@using North.Data.Sportsman
@using North.Pages.Extensions
@model North.Soft.Areas.Event.Pages.Events.DetailsModel

@{
    Layout = "_Details";

    const string eventLists = "/EventList/EventLists";
    var eventId = GetMember.Name<EventListData>(x => x.EventId);

    const string sportsmen = "/Sportsman/Sportsmen/Create?fixedFilter=&fixedValue=";
    var eventId2 = GetMember.Name<SportsmanData>(x => x.Id);
}
<body>

    @Html.DisplayControlsFor(model => model.Item.Name)
    @Html.DisplayControlsFor(model => model.Item.Definition)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Näita üritusi",
        $"{eventLists}/Index?FixedFilter={eventId}&FixedValue={Model.Item.Id}"))
    @Html.HypertextLinkFor(string.Empty, new Link("Registreeru!",
        $"{sportsmen}/Index?FixedFilter={eventId2}&FixedValue={Model.Item.Id}"))
}