@page
@using North.Pages.Extensions
@model North.Soft.Areas.Event.Pages.Events.EditModel

@{
    Layout = "_Edit";
}

<body>
    @Html.EditControlsForDropDown(model => model.Item.SportCategoryId, Model.SportCategories)
    @Html.EditControlsFor(model => model.Item.TypeId)
    @Html.EditControlsFor(model => model.Item.OrganizationId)
    @Html.EditControlsFor(model => model.Item.EventListId)
    @Html.DisabledControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.Name)
    @Html.EditControlsFor(model => model.Item.EventDate)
    @Html.EditControlsFor(model => model.Item.Definition)
</body>