@page
@using North.Pages.Extensions
@model North.Soft.Areas.Event.Pages.Events.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="Item.Id" />
        @Html.EditControlsForDropDown(model => model.Item.SportCategoryId, Model.SportCategories)
        @Html.EditControlsFor(model => model.Item.TypeId)
        @Html.EditControlsForDropDown(model => model.Item.OrganizationId, Model.Organizations)
        @Html.EditControlsForDropDown(model => model.Item.EventListId, Model.EventLists)
        @Html.EditControlsForDropDown(model => model.Item.LocationId, Model.Locations)
        @Html.EditControlsFor(model => model.Item.Name)
        @Html.EditControlsFor(model => model.Item.EventDate)
        @Html.EditControlsFor(model => model.Item.Definition)
    </body>